img.pequeña{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
img.mediana{
  width: 200px; height: 75px;
}
img.grande{
  width: 200px; height: 200px;
}
.slider .indicators .indicator-item.active {
    background-color: #e91e63;
}
.teal.lighten-2 {
    background-color: #e91e63 !important;
}
.red.darken-4 {
    background-color: #e91e63 !important;
}
