/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 10%;
  }
  #ind-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #inde-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.verdeeee
{
background-color: rgba(0, 0, 0, 0.7);
}

#transbox {
 margin: 15px 15px 15px;
  color: #333;
  padding: 10px;
  box-sizing: borderbox;
}

header {
  position: auto;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}
header h1 {
  color: #ffffff;
  font-size: 200px;
  font-size: 1.25rem;
}

  header h1 {
    font-size: 66px;
    font-size: 5.25rem;
    font-weight: 300;
  }

.collapsible-body {
  color: #ffffff;
  font-size: 22px;
}